@using FestivalVolunteer.Shared.Models;
@using FestivalVolunteer.Client.Services;

@page "/kalender"

<div class="text-center">
    <h1>Vagtoversigt</h1>
</div>

<table class="table">
    <tr>
        <th>Dato</th>
        <th>Arbejdende</th>
        <th>Vagt</th>
        <th>Område</th>
        <th>Tidspunkt</th>
    </tr>

    @foreach (var vagt in vagtliste)
    {
    <tr>
        <td> @vagt.StartTime.ToString("dd-MM") </td>
        <th> @user.Name </th>
        <th> @vagt.Name </th>
        <th> @vagt.Area </th>
        <th> @vagt.StartTime.ToString("HH:mm") - @vagt.EndTime.ToString("HH:mm") </th>
    </tr>
    }
</table>

@code{
    [Inject]
    public IShiftService ShiftService { get; set; }

    [Inject]
    public IUserService UserService { get; set; }

    public User user = new User();
    public Shift shift = new Shift();
    public List<Shift> vagtliste = new List<Shift>();

    protected override async Task OnInitializedAsync()
    {
        shift = (await ShiftService.GetShift(1));
        vagtliste.Add(shift);
        user = (await UserService.GetUser(4));
    }
}